aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.9
aiosignal==1.3.1
aiosqlite==0.20.0
annotated-types==0.7.0
anyio==4.6.0
astunparse==1.6.3
attrs==24.2.0
blessed==1.20.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cryptography==43.0.1
dataclasses-json==0.6.7
Deprecated==1.2.14
distro==1.9.0
dlt==1.3.0
duckdb==1.1.1
duckdb_engine==0.13.2
editor==1.6.6
executing==2.1.0
fastapi==0.115.0
frozenlist==1.4.1
fsspec==2024.10.0
gitdb==4.0.11
GitPython==3.1.43
giturlparse==0.12.0
googleapis-common-protos==1.65.0
greenlet==3.1.1
h11==0.14.0
hexbytes==1.2.1
httpcore==1.0.6
httpx==0.27.2
httpx-sse==0.4.0
humanize==4.11.0
idna==3.10
importlib_metadata==8.5.0
inquirer==3.4.0
jiter==0.5.0
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpointer==3.0.0
langchain==0.3.7
langchain-community==0.3.5
langchain-core==0.3.15
langchain-openai==0.2.6
langchain-text-splitters==0.3.2
langgraph==0.2.45
langgraph-checkpoint==2.0.2
langgraph-checkpoint-sqlite==2.0.1
langgraph-sdk==0.1.35
langsmith==0.1.131
linkify-it-py==2.0.3
logfire==1.3.2
makefun==1.15.6
markdown-it-py==3.0.0
marshmallow==3.22.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
msgpack==1.1.0
multidict==6.1.0
mypy-extensions==1.0.0
numpy==1.26.4
openai==1.54.3
opentelemetry-api==1.28.1
opentelemetry-exporter-otlp-proto-common==1.28.1
opentelemetry-exporter-otlp-proto-http==1.28.1
opentelemetry-instrumentation==0.49b1
opentelemetry-proto==1.28.1
opentelemetry-sdk==1.28.1
opentelemetry-semantic-conventions==0.49b1
orjson==3.10.7
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pathvalidate==3.2.1
pendulum==3.0.0
platformdirs==4.3.6
pluggy==1.5.0
ply==3.11
propcache==0.2.0
protobuf==5.28.3
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
PyGithub==2.4.0
Pygments==2.18.0
PyJWT==2.9.0
PyNaCl==1.5.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.12
pytz==2024.2
PyYAML==6.0.2
readchar==4.2.1
regex==2024.9.11
relta @ file:///Users/aazo11/Documents/GitHub/github-assistant/relta
requests==2.32.3
requests-toolbelt==1.0.0
requirements-parser==0.11.0
rich==13.9.4
runs==1.2.2
semver==3.0.2
-e git+https://github.com/reltadev/github-assistant@33cc992b6e7d1ef140614b42a41cc5da4c741428#egg=server_poc&subdirectory=server-poc
setuptools==75.3.0
shellingham==1.5.4
simplejson==3.19.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
SQLAlchemy==2.0.35
sqlglot==25.24.4
sqlmodel==0.0.21
sqlparse==0.5.1
starlette==0.38.6
tabulate==0.9.0
tenacity==8.5.0
textual==0.85.2
tiktoken==0.8.0
time-machine==2.16.0
tomli==2.0.2
tomlkit==0.13.2
tqdm==4.66.5
typer==0.12.5
types-setuptools==75.3.0.20241107
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
uc-micro-py==1.0.3
urllib3==2.2.3
uvicorn==0.30.6
wcwidth==0.2.13
wheel==0.45.0
wrapt==1.16.0
xmod==1.8.1
yarl==1.13.1
zipp==3.20.2
